<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <staticContent>
         	<mimeMap fileExtension=".jpg" mimeType="image/jpg" />
         	<mimeMap fileExtension=".png" mimeType="image/png" />
         	<mimeMap fileExtension=".plist" mimeType="text/plain" />
         	<mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
      	</staticContent>
    </system.webServer>
</configuration>